<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB1IIPQa_cNCaSlzD4LvwYrALXwsnsusLQ</string>
	<key>GCM_SENDER_ID</key>
	<string>638949808350</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.udemy.socialApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>flutter-social-app-38f0e</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-social-app-38f0e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:638949808350:ios:d47f48afd6ccf3408d8a4f</string>
</dict>
</plist>